body {
  border-left: 20px;
  border-right: 20px;
  border-top: 20px;
  border-bottom: 20px;
  border-color: #bdc3c7;
}

h2 {
  color: #2c3e50;
}

p {
  font-family: Source Sans Pro;
}

.p1 {
  font-family: Source Sans Pro;
}
